<h1>{{ workshop.title }}</h1>

<p>{{ workshop.date }} – {{ workshop.start_time }}</p>

<p>{{ workshop.location_name }}</p>

<p>{{ workshop.description }}</p>

<p>Price: £{{ workshop.price }}</p>

{% if workshop.ticket_url %}

<a href="{{ workshop.ticket_url }}">
Book Ticket
</a>

<h2>Photos</h2>

<div class="gallery-grid">

{% for image in workshop.gallery_images.all %}

<img src="{{ image.image.url }}">

{% endfor %}

</div>

{% for tag in workshop.tags.all %}
<a href="{% url 'tag_detail' tag.slug %}">
{{ tag.name }}
</a>
{% endfor %}


{% endif %}
